.DS_Store

.venv/
.pytest_cache/

**/__pycache__/
*.py[cod]

zeroq_cup_classification_scaffold/data/**
!zeroq_cup_classification_scaffold/data/
!zeroq_cup_classification_scaffold/data/raw/
!zeroq_cup_classification_scaffold/data/raw/defective/
!zeroq_cup_classification_scaffold/data/raw/non_defective/
!zeroq_cup_classification_scaffold/data/interim/
!zeroq_cup_classification_scaffold/data/interim/augmented/
!zeroq_cup_classification_scaffold/data/interim/augmented/defective/
!zeroq_cup_classification_scaffold/data/interim/augmented/non_defective/
!zeroq_cup_classification_scaffold/data/interim/cleaned/
!zeroq_cup_classification_scaffold/data/interim/cleaned/defective/
!zeroq_cup_classification_scaffold/data/interim/cleaned/non_defective/
!zeroq_cup_classification_scaffold/data/processed/
!zeroq_cup_classification_scaffold/data/processed/train/
!zeroq_cup_classification_scaffold/data/processed/train/defective/
!zeroq_cup_classification_scaffold/data/processed/train/non_defective/
!zeroq_cup_classification_scaffold/data/processed/val/
!zeroq_cup_classification_scaffold/data/processed/val/defective/
!zeroq_cup_classification_scaffold/data/processed/val/non_defective/
!zeroq_cup_classification_scaffold/data/processed/test/
!zeroq_cup_classification_scaffold/data/processed/test/defective/
!zeroq_cup_classification_scaffold/data/processed/test/non_defective/
!zeroq_cup_classification_scaffold/data/**/.gitkeep
